.home-logo {
	background-image: url('/static/dashboard/img/home.png');
	background-repeat: no-repeat;
	background-position: 50% 46%;
	width: 50px;
}



.nav_accordion dd h4 {
	color: #247C47;
	border-bottom: 1px solid #519642;
}



.page-header {
	border-bottom: 1px solid #505150;
}